<div class="bo-page">
  <h2>Users</h2>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{user.prenom}}</td>
        <td>{{user.nom}}</td>
        <td>{{user.email}}</td>
        <td>
          <button (click)="updateData('user', user._id)" class="btn btn-warning">Update</button>
          <button (click)="deleteData(user._id, 'user')" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <form class="form w-100" [formGroup]="userCreate">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4">Add User</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input  class="form-control"  matInput placeholder="Last name" formControlName="lastName"></td>
          <td><input  class="form-control"  matInput placeholder="First name" formControlName="firstName"></td>
          <td><input  class="form-control"  matInput placeholder="email" formControlName="email"></td>
          <td><input  class="form-control"  matInput placeholder="password" formControlName="password"></td>
          <td><button (click)="createData('user')" class="btn btn-primary">Create</button></td>
        </tr>
      </tbody>
    </table>
  </form>


  <h2>Athlete</h2>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let athlete of athleteData">
        <td>{{ athlete.nom || athlete.Nom }}</td>
        <td>{{ athlete.prenom || athlete.Prenom }}</td>
        <td>{{ athlete.sexe || athlete.Sexe }}</td>
        <td>{{ athlete.age || athlete.Age}}</td>

        <button type="submit" (click)="updateData('athlete', athlete._id)" class="btn btn-warning bg-warning">Update</button>
        <button (click)="deleteData(athlete._id, 'athlete')" class="btn btn-danger bg-danger ml-2">Delete</button>
      </tr>
    </tbody>
  </table>

  <form #sportForm="ngForm" (ngSubmit)="addSports(sportForm.value)" class="tableSport">
    <table border="1px" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sports</th>
          <th colspan="2">Fonction</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-select placeholder="Sports" name="libelle" ngModel>
              <mat-option>None</mat-option>
              <mat-option value="football">Football</mat-option>
              <mat-option value="handBall">Hand Ball</mat-option>
              <mat-option value="basketBall">Basket Ball</mat-option>
            </mat-select>
          </td>
          <td>
            <mat-select placeholder="Fonction" name="type" ngModel>
              <mat-option>None</mat-option>
              <mat-option value="Jouer">Play</mat-option>
              <mat-option value="Entrainer">Coach</mat-option>
              <mat-option value="Arbitrer">Refer</mat-option>
            </mat-select>
          </td>
        </tr>
      </tbody>

      <section>
        <button type="submit">Add Sport</button>
      </section>
    </table>
  </form>

  <form class="form" [formGroup]="athleteCreate">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4">Add Athlete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input  class="form-control"  matInput placeholder="Last name" formControlName="lastName"></td>
          <td><input  class="form-control"  matInput placeholder="First name" formControlName="firstName"></td>
          <td><input  class="form-control"  matInput placeholder="gender" formControlName="gender"></td>
          <td><input  class="form-control"  matInput placeholder="age" formControlName="age"></td>
          <td><button (click)="createData('athlete')" class="btn btn-primary">Create</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <h2>Gymnasium</h2>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Ville</th>
        <th scope="col">Surface</th>
        <th scope="col">Seance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gym of gymData">
        <td>{{ gym.NomGymnase }}</td>
        <td>{{ gym.Adresse }}</td>
        <td>{{ gym.Ville }}</td>
        <td>{{ gym.Surface }}</td>

        <td>
          <mat-label>Seances</mat-label>
          <mat-select>
            <mat-option *ngFor="let  seance of gym.Seances">{{ seance.Jour }} {{ seance.Horaire}}</mat-option>
          </mat-select>
        </td>
        <td>
          <button (click)="updateData('gym', gym._id)" class="btn btn-warning">Update</button>
          <button (click)="deleteData(gym._id, 'gym')" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <form #sessionForm="ngForm" (ngSubmit)="addSession(sessionForm.value)">
    <table border="1px" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sport</th>
          <th scope="col">Day</th>
          <th scope="col">Hour</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-select placeholder="Sport" name="Libelle" ngModel>
              <mat-option>None</mat-option>
              <mat-option value="Hockey">Hockey</mat-option>
              <mat-option value="Basketball">Basket ball</mat-option>
              <mat-option value="Volleyball">Volley Ball</mat-option>
              <mat-option value="Football">Football</mat-option>
            </mat-select>
          </td>
          <td>
            <mat-select placeholder="Day" name="Jour" ngModel>
              <mat-option>None</mat-option>
              <mat-option value="lundi">Monday</mat-option>
              <mat-option value="mardi">Tuesday</mat-option>
              <mat-option value="mercredi">Wednesday</mat-option>
              <mat-option value="jeudi">Thursday</mat-option>
              <mat-option value="vendredi">Friday</mat-option>
              <mat-option value="samedi">Saturday</mat-option>
              <mat-option value="dimanche">Sunday</mat-option>
            </mat-select>
          </td>
          <td>
            <input  class="form-control"  matInput placeholder="Hour" name="Horaire" ngModel type="number">
          </td>
          <td>
            <input  class="form-control"  matInput placeholder="Duration" name="Duree" ngModel type="number">
          </td>
        </tr>
      </tbody>

      <section>
        <button type="submit" class="btn btn-primary">Add Session</button>
      </section>
    </table>
  </form>

  <form class="form" [formGroup]="gymCreate">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="4">Add Gym</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input  class="form-control"  matInput placeholder="Name" formControlName="name"></td>
          <td><input  class="form-control"  matInput placeholder="Adresse" formControlName="address"></td>
          <td><input  class="form-control"  matInput placeholder="Ville" formControlName="town"></td>
          <td><input  class="form-control"  matInput placeholder="Surface" formControlName="area"></td>
          <td><button (click)="createData('gym')" class="btn btn-primary">Create</button></td>
        </tr>
      </tbody>
    </table>
  </form>

  <h2>Bookings</h2>

  <table border="1px">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Gymnase</th>
        <th scope="col">User</th>
        <th scope="col">Seance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookingsData">
        <td>{{ booking.idGymnase }}</td>
        <td>{{ booking.idUser }}</td>

        <td>
          <mat-label>Seances</mat-label>
          <mat-select>
            <mat-option *ngFor="let  seance of booking.Seances">{{ seance.Jour }} {{ seance.Horaire}}</mat-option>
          </mat-select>
        </td>
      </tr>
    </tbody>
  </table>

</div>
