<div class="container">
  <mat-card>
    <form class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="Email" formControlName="email">

      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="form-element">
        <textarea matInput placeholder="First name"  formControlName="firstName"></textarea>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Password" formControlName="password">
        <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
      </mat-form-field>

      <!-- <div class="form-element">
        <mat-checkbox formControlName="validate" value="1">Name min. 3 characters</mat-checkbox>
      </div> -->

      <div class="form-element">
        <section>
            <button mat-raised-button color="primary" type="submit" >Sign Up</button>
            <button mat-raised-button href="login" >Sign in</button>
        </section>
      </div>

    </form>
    <div class="beautiful-image"></div>
  </mat-card>
</div>
