<div class="gymcard">
  <img src="assets/images/basketball.jpg" alt="basketball" height="150" width="250">
  <h1>Basket Ball</h1>
</div>
<div class="gymcard">
  <img src="assets/images/handball.jpg" alt="handball" height="150" width="250">
  <h1>Hand Ball</h1>
</div>
<div class="gymcard">
  <img src="assets/images/hockey.jpg" alt="hockey" height="150" width="250">
  <h1>Hockey</h1>
</div>
<div class="gymcard">
  <img src="assets/images/volleyball.jpg" alt="volleyball" height="150" width="250">
  <h1>Basketball</h1>
</div>
