<div class="gymcard">
  <img src="assets/images/undraw_basketball_agx4.svg" alt="" height="150" width="150">
  <h1>Basketball</h1>
</div>
<div class="gymcard">
  <img src="assets/images/undraw_basketball_agx4.svg" alt="" height="150" width="150">
  <h1>Basketball</h1>
</div>
<div class="gymcard">
  <img src="assets/images/undraw_basketball_agx4.svg" alt="" height="150" width="150">
  <h1>Basketball</h1>
</div>
<div class="gymcard">
  <img src="assets/images/markus-spiske-J_tbkGWxCH0-unsplash.jpg" alt="" height="150" width="150">
  <h1>Basketball</h1>
</div>
