.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 2rem;
  padding: 0;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 35%;
  margin: 10px;
}

.beautiful-image{
  width: 50%;
  height: 65vh;
  background-image: url('../../assets/images/Kylian-Mbappe.jpg');
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
