.main-info-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px 80px;
  overflow: hidden;
}
.welcome-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.detail-info h1 {
  font-size: 3rem;
  margin: 30px;
}
.detail-info p {
  padding: 30px;
  border-radius: 50px;
  background: linear-gradient(145deg, #533bcd, #6247f4);
  box-shadow: 20px 20px 60px #4e38c2, -20px -20px 60px #6a4cff;
  margin: 25px;
  font-size: 1.5rem;
}

.detail-nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.664);
  margin: 30px;
  font-size: 1.5rem;
}

.detail-info {
  color: #fff;
  margin: 50px;
}
.detail-info .title {
  margin: 0 30px;
}

.detailbook-button {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: #e63946ff;
  color: #fff;
  padding: 23px 50px;
  margin: auto;
  text-align: center;
  display: inline-block !important;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

.button:hover {
  transform: scale(1.04, 1);
  background-color: rgba(216, 10, 27, 0.548);
  text-decoration: none;
}
