<div class="main-info-page">

  <div class="detail-nav">
    <a [routerLink]="['/gymnases/566eec69662b388eba4642a8']" (click)="fetchById()">Seances</a>
  </div>
  <div class="detail-info">
    <div class="welcome-header" *ngIf="oneGymnasesData == 0">
      <h1>Let's Go</h1>
      <img src="assets/images/Group.png" alt="Logo" width="300" height="500" class="app-logo">
    </div>

    <div *ngIf="oneGymnasesData != 0">
      <h1>{{oneGymnasesData.NomGymnase}}</h1>
      <p><b class="title">Address:</b> {{oneGymnasesData.Adresse}}</p>
      <p><b class="title">City: </b> {{oneGymnasesData.Ville}}</p>
      <p><b class="title">Surface:</b> {{oneGymnasesData.Surface}}</p>
    </div>
  </div>

  <button class="detailbook-button" *ngIf="oneGymnasesData != 0">Book Now</button>
</div>
