<div class="main-info-page">

  <div class="detail-nav">
    <a href="#" (click)="fetchSeance()">Seances</a>
  </div>
  <div class="detail-info">
    <!--
    <div class="welcome-header">
      <h1>Let's Go</h1>
      <img src="assets/images/Group.png" alt="Logo" width="300" height="500" class="app-logo">
    </div>-->

    <h1>{{gymnasesData[0].NomGymnase}}</h1>
    <p><b class="title">Address:</b> {{gymnasesData[0].Adresse}}</p>
    <p><b class="title">City: </b> {{gymnasesData[0].Ville}}</p>
    <p><b class="title">Surface:</b> {{gymnasesData[0].Surface}}</p>
  </div>
  <button class="detailbook-button">Book Now</button>
</div>
